<p id="notice"><%= notice %></p>

<h1>Listing Eulers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eulers.each do |euler| %>
      <tr>
        <td><%= euler.x %></td>
        <td><%= euler.y %></td>
        <td><%= "answer" %></td>
        <td><%= Euler.ite(euler.x,euler.y) %></td>
        <td><%= link_to 'Show', euler %></td>
        <td><%= link_to 'Edit', edit_euler_path(euler) %></td>
        <td><%= link_to 'Destroy', euler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Import CSV</h2>
<%= form_tag import_eulers_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>




   
  


<br>

<%= link_to 'New Euler', new_euler_path %>
